<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <ng-container *ngIf="isEditing">
    <mat-card-content>
      <mat-form-field>
        <textarea [(ngModel)]="comment.body" matInput cdkTextareaAutosize placeholder="Write something..."></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button color="primary" matTooltip="Edit it" (click)="updateComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </mat-card-actions>
  </ng-container>
  <ng-container *ngIf="!isEditing">
    <mat-card-content>
      <p>{{comment.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="primary" (click)="likeComment()">
        <mat-icon matBadge="{{comment.reactions.length}}" matBadgeColor="accent" matBadgeSize="small"
          [matBadgeHidden]="comment.reactions.length === 0" aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Share">share</mat-icon>
      </button>
      <ng-container *ngIf="checkAuthor()">
        <button mat-icon-button matTooltip="Edit" (click)="switchToEdit()">
          <mat-icon color="accent">edit</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="checkAuthor()||canDelete">
        <button mat-icon-button (click)="deleteComment()" matTooltip="Delete">
          <mat-icon color="accent">delete</mat-icon>
        </button>
      </ng-container>
    </mat-card-actions>
  </ng-container>
</mat-card>