mat-card-actions 
    margin-right: 8px

mat-card-header
    margin-bottom: 5px
    display: flex
    justify-content: space-between
    ::ng-deep .mat-card-header-text 
        display: none !important
    .info
        display: flex
        align-items: center
    mat-card-title
        margin: 0
    .date
        color: rgba(0, 0, 0, 0.5)
    .el1
        margin-right: 15px

mat-card-content
    font-size: 15px
    margin: 0
    text-align: justify

mat-icon
    font-size: 22px

.post-with-comments
    padding-bottom: 0

.mat-badge-content
    font-size: 10px

.new-comment
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    padding: 20px 0
    .mat-form-field
        width: 100%

.comments-count
    width: 100%
    text-align: center
    color: rgba(0, 0, 0, 0.5)
    margin-bottom: 5px
