<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <div class="info">
      <div class="el1">
        <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
      </div>
      <div class="el1">
        <mat-card-title>{{post.author.userName}}</mat-card-title>
      </div>
      <div class="el1">
        <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
      </div>
    </div>
    <div class="el">
      <button mat-raised-button *ngIf="checkAuthor()" matTooltip="Edit post" (click)="switchToEdit()">
        <mat-icon color="accent">edit</mat-icon>
      </button>
      <button mat-raised-button *ngIf="checkAuthor()" matTooltip="Delete post" (click)="deletePost()">
        <mat-icon color="accent">delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <ng-container *ngIf="isEditing">
    <mat-card-content>
      <mat-form-field>
        <textarea [(ngModel)]="post.body" matInput cdkTextareaAutosize placeholder="Write something..."></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button color="primary" matTooltip="Edit it" (click)="updatePost()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </mat-card-actions>
  </ng-container>
  <ng-container *ngIf="!isEditing">
    <mat-card-content>
      <p>{{post.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="primary" (click)="likePost()">
        <mat-icon matBadge="{{post.reactions.length}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="post.reactions.length === 0" aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Share">share</mat-icon>
      </button>
      <button mat-icon-button color="basic" (click)=" toggleComments()">
        <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
          [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
      </button>
    </mat-card-actions>
    <div *ngIf="showComments">
      <mat-divider></mat-divider>
      <div class="new-comment">
        <mat-form-field>
          <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </div>
      <div *ngIf="post.comments.length > 0" class="comments-count">
        Just {{post.comments.length}} in all
      </div>
      <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"
        [canDelete]="checkAuthor()" (deleted)="commentDeleted($event)"></app-comment>
    </div>
  </ng-container>
</mat-card>